<!doctype html>
<!-- Input form for anonymous users, not logged in -->
<html lang="sl">
    <head>
        <meta charset="UTF-8"/>
        <title>obrazec za račune</title>
        {%load static%}
        <link href="{% static 'racuni/form_input.css' %}" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'racuni/form_input.js' %}"></script>
    </head>
    <body>
        <h1>Izdaja novega računa</h1>
        <form action="result" method="GET">
            {% csrf_token %}
            <company>
                <label for="comp_name">Ime podjetja: </label>
                <input name="comp_name" type="text" value=""/><br>
                
                <label for="house_nr">Naslov: </label>
                <input name="house_nr" type="text" value=""/><br>
            
                <label for="post_nr">Poštna številka: </label>
                <input name="post_nr" type="number" value="" pattern="\d+" /><br>
                <label for="city">Mesto: </label>
                <input name="city" type="text" value=""/><br>
            </company>
            <!-- right align -->
            <date_city>
                <label for="bill_city">Mesto izdaje računa: </label>
                <input name="bill_city" type="text" value=""/><br>
                <label for="date">Datum izdaje računa: </label>
                <input name="date" type="date" value=""/><br>
            </date_city>
            <!-- end right align -->
            <account_info>
                <label for="tax_nr">Davčna številka: </label>
                <input name="tax_nr" type="number" value=""/><br>

                <label for="id_nr">Matična številka: </label>
                <input name="id_nr" type="number" value=""/><br>

                <label for="transact_acc">Transakcijski račun: </label>
                <input name="transact_acc" type="text" value="" pattern="[A-Z]{2} ?\d{2}[\d A-Za-z]{1,30}" /><br> <!-- error checking ? -->
            </account_info>
            
            <!-- right align -->
            <contact_info>
                <label for="phone">Telefon: </label>
                <input name="phone" type="tel" value=""/><br>
                <label for="email">E-pošta: </label>
                <input name="email" type="email" value="" pattern=".+@.+\..+" /><br>
            </contact_info>
            <!-- end right align -->

            <!-- center align -->
            <receipt_number>
                <div id="centering">
                <label for="bill_number">Številka računa: </label>
                <input name="bill_number" type="text" value=""/><br>
                </div>
            </receipt_number>
            <!-- end center align -->
            <buyer_info>
                <label for="buyer_full_name">Ime in priimek kupca: </label>
                <input name="buyer_full_name" type="text" value=""/><br>
                <label for="buyer_house_nr">Naslov kupca: </label>
                <input name="buyer_house_nr" type="text" value=""/><br>
                <label for="buyer_post_nr">Poštna številka kupca: </label>
                <input name="buyer_post_nr" type="number" value=""/><br>
                <label for="id_for_vat">ID za DDV:</label>
                <input name="id_for_vat" type="text" value=""/><br>
            </buyer_info>
            
            <!-- right align -->
            <dates>
                <label for="task_date">Datum opravljene storitve</label>
                <input name="task_date" type="date" value=""/><br>
                <label for="payment_date">Rok plačila: </label>
                <input name="payment_date" type="date" value=""/><br>
            </dates>
            <!-- end right align -->
            <receipt_title>
                <label for="task">Opravilo: </label>
                <input name="task" type="text" value=""/><br>
            </receipt_title>
            <!-- TODO: extensible table for receipt -->

            <table id="contents">
                <thead>
                    <tr>
                        <th>OPRAVILO</th>
                        <th>ME</th>
                        <th>EVRO/KOL</th>
                        <th>KOLIČINA</th>
                        <th>SKUPAJ</th>
                        <th>ODSTRANI</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td>Skupaj</td>
                        <td colspan="3"></td>
                        <td id="total_sum"></td>
                    </tr>
                </tfoot>
            </table>
            <button id="extend" type="button" id="addcell" onclick="append_row();">Dodaj</button><br>
            <signiature>
                <label for="full_name">Ime in priimek: </label>
                <input name="full_name" type="text" value=""/><br>
            </signiature>
            <button type="submit">Naprej</button>
        </form>
    </body>
</html>
