<!doctype html>
<html lang="sl">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <header>Osebna stran</header>
        
        <!-- list of receipts -->
        {% for receipt in receipts %}
        <receipt>
            {{ receipt.pk }}
            {{ receipt.receipt_title }}
            {{ receipt.date }}
            {{ receipt.client }}
            {{ receipt.total }}
            <br>
        </receipt>
        {% endfor %}
        <!-- add edit feature -->
        <a href="./form_input">Vnesi nov račun</a>
        <form>
            <button type="submit" name="special" value="logout">odjava</button>
        </form>
        
    </body>
</html>
