<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <h1>Vpis</h1>
        <form action="homepage" method="POST">
            {% csrf_token %}
            <label for="username">Uporabniško ime: </label>
            <input name="username" type="text" value="" required/>

            <label for="password">Geslo: </label>
            <input name="password" type="password" value="" required/>

            <button name="confirm" type="submit" value="login">Prijava</button>
            <button name="confirm" type="submit" value="register">Registracija</button>
        </form>

        <p>Ali pa nadaljuj <a href="form_input_anonymous">brez prijave</a>.</p>
    </body>
</html>
