<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Document</title>
    </head>
    <body>
        <h1>Vpis</h1>
        <form action="homepage" method="GET"> <!-- change to POST in prod -->
            {{ csrf_input }}
            <label for="username">Uporabniško ime: </label>
            <input name="username" type="text" value=""/>

            <label for="password">Geslo: </label>
            <input name="username" type="password" value=""/>

            <button type="submit">Prijava</button>
        </form>

        <p>Ali pa nadaljuj <a href="form_input_anonymous">brez prijave</a>.</p>
    </body>
</html>
